html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
   display: block;
}
body {
   font: normal 1.0em/1.0em Helvetica, "Lucida Grande", Arial, sans-serif;
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none;
}
table {
   border: none;
   border-collapse: collapse;
   border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Georgia, "Times New Roman", Times;
   font-weight: 700;
   margin-bottom: 1.2em;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
}

h3 {
   font-size: 1.2em;
}

h4 {
   font-size: 1.0em;
}

h5 {
   font-size: 0.8em;
}

h6 {
   font-size: 0.7em;
}

em {
   font-style: italic;
}

strong {
   font-weight: 700;
}

div#main {
   background-image: linear-gradient(bottom, rgb(245,245,245) 0%, rgb(255,255,255) 71%);
   background-image: -o-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(255,255,255) 71%);
   background-image: -moz-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(255,255,255) 71%);
   background-image: -webkit-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(255,255,255) 71%);
   background-image: -ms-linear-gradient(bottom, rgb(245,245,245) 0%, rgb(255,255,255) 71%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(245,245,245)), color-stop(0.71, rgb(255,255,255)));
   border: solid 1px #FFF;
   border-radius: 0 0 7px 7px;
   box-shadow: 0 1px 4px #333;
   clear: both;
   margin: 0 auto 15px auto;
   overflow: hidden;
   padding: 5px 5px 12px;
   position: relative;
   width: 987px;
   z-index: 1;
}

h3#login-heading {
   margin: 15px 0 25px 0;
   text-align: center;
}

form#login-form {
   background: transparent url('../images/lock.png') 70px 10px no-repeat;
}

table#login {
   background-image: linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -o-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(232,232,232)), color-stop(0.71, rgb(255,255,255)));
   border: solid 1px #FFF;
   border-radius: 7px;
   box-shadow: 0px 1px 3px #333;
   display: block;
   margin: 15px auto;
   padding: 25px 35px;
   width: 190px;
}

   table#login td {
      padding: 7px 0;
   }
   
   table#login label.login {
      color: #666;
      font-weight: 700;
   }
   
   table#login input.login {
      border: solid 1px #CCC;
      border-radius: 5px;
      color: #666;
      display: block;
      font: 700 1.2em/1.4em Helvetica, "Lucida Grande", Arial, sans-serif;
      height: 22px;
      margin-top: 5px;
      width: 185px;
   }

div#masthead {
   clear: both;
   margin: 0 auto;
   width: 999px;
}

   div#masthead h2 {
      margin: 15px 0 20px 0;
   }

div#nav {
   float: left;
}

   div#nav ul {
      background: #CCC;
      background-image: linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -o-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(225,225,225)), color-stop(0.71, rgb(245,245,245)));
      border: solid 1px #CCC;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 1px 3px #000;
      overflow: hidden;
      padding: 4px 0 3px 0;
   }

   div#nav ul li {
      display: inline;
   }
   
   div#nav ul li a, div#nav ul li a:link, div#nav ul li a:visited {
      color: #333;
      font: 700 1.0em/1.4em Helvetica, "Lucida Grande", Arial, sans-serif;
      padding: 5px 7px;
      text-decoration: none;
   }
   
   div#nav ul li a:hover, div#nav ul li a:active, div#nav ul li a.active {
      background: #666;
      background-image: linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -o-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -moz-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -webkit-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -ms-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(215,215,215)), color-stop(0.71, rgb(235,235,235)));
      color: #000;
      text-decoration: underline;
   }

div#dashboard {
   float: left;
   margin-top: 5px;
   width: 982px;
   text-align: center;
}

div#dashboard a {
   background-image: linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -o-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 0%, rgb(255,255,255) 71%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(232,232,232)), color-stop(0.71, rgb(255,255,255)));
   border: solid 1px #FFF;
   border-radius: 7px;
   box-shadow: 0px 1px 3px #333;
   display: inline-block;
   height: 150px;
   margin-left: 5px;
   text-align: center;
   text-decoration: none;
   width: 150px;
}

   div#dashboard a span.dashtext {
      color: #DDD;
      display: block;
      font: 700 1.4em/1.5em Helvetica, "Lucida Grande", Arial, sans-serif;
      /*text-shadow: 0 1px 0 #666;*/
      text-shadow: 0 -1px 0 #666;
   }
   
   div#dashboard a:hover span.dashtext {
      color: #CCC;
   }
   
   div#dashboard a div.icons {
      background: transparent url('../images/dash-icons.png') 0 0 no-repeat;
      display: block;
      height: 88px;
      margin: 15px auto 0 auto;
      width: 86px;
   }
   
      div#dashboard a div#users {
         background-position: -86px 0;
      }
      
      div#dashboard a div#stats {
         background-position: -172px 0;
      }
      
      div#dashboard a div#modules {
         background-position: -258px 0;
      }
      
      div#dashboard a div#settings {
         background-position: -344px 0;
      }
      
      div#dashboard a div#logout {
         background-position: -430px 0;
      }
      
      div#dashboard a:hover div#pages {
         background-position: 0 -88px;
      }
      
      div#dashboard a:hover div#users {
         background-position: -86px -88px;
      }
      
      div#dashboard a:hover div#stats {
         background-position: -172px -88px;
      }
      
      div#dashboard a:hover div#modules {
         background-position: -258px -88px;
      }
      
      div#dashboard a:hover div#settings {
         background-position: -344px -88px;
      }
      
      div#dashboard a:hover div#logout {
         background-position: -430px -88px;
      }

div#message {
   position: relative;
   width: 100%;
}

   div#message p {
      border: 1px solid;
      margin-bottom: 10px;
      padding: 5px 10px;
   }
   
      div#message p.info {
         background-color: #BDE5F8;
         color: #00529B;
      }
   
      div#message p.success {
         background-color: #DFF2BF;
         color: #4F8A10;
      }
      
      div#message p.warning {
         background-color: #FEEFB3;
         color: #9F6000;
      }
      
      div#message p.error {
         background-color: #FFBABA;
         color: #D8000C;
      }
   
label.error {
   color: #C00;
   font-weight: 900
}
      
ul#pages li {
   margin: 5px 0;
   position: relative;
}

   ul#pages li, ul#pages li a {
      display: block;
      font: 700 1.0em/1.0em Helvetica, "Lucida Grande", Arial, sans-serif;
      position: relative;
      width: 975px;
   }

   ul#pages li {
      background: #CCC;
      background-image: linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -o-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(225,225,225)), color-stop(0.71, rgb(245,245,245)));
      border: solid 1px #CCC;
      border-radius: 10px;
      padding: 0;
      z-index: 1;
   }
   
      ul#pages li a, ul#pages li a:link, ul#pages li a:visited {
         color: #666;
         height: 15px;
         padding: 6px 5px 8px 5px;
         text-decoration: none;
      }
      
      ul#pages li a:hover, ul#pages li a:active {
         color: #333;
         text-decoration: underline;
      }
   
   ul#pages li:hover {
      background: #666;
      background-image: linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -o-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -moz-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -webkit-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -ms-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(215,215,215)), color-stop(0.71, rgb(235,235,235)));
   }
   
   ul#pages li a.page em {
      font: normal 0.9em/0.7em Georgia;
      font-style: italic;
   }
   
   ul#pages li a.actions {
      background: transparent url('../images/page-action-icons.png') 0 0 no-repeat;
      display: block;
      height: 24px;
      padding: 0;
      position: absolute;
      text-indent: -9999px;
      top: 3px;
      width: 25px;
      z-index: 2;
   }
   
      ul#pages li a.actions.view {
         right: 37px;
      }
   
      ul#pages li a.actions.delete {
         background-position: -25px 0;
         right: 7px;
      }
      
      ul#pages li a.actions:hover.view {
         background-position: 0 -24px;
      }
   
      ul#pages li a.actions:hover.delete {
         background-position: -25px -24px;
         right: 7px;
      }
      
.buttons, a.buttons, a:link.buttons, a:visited.buttons {
   background: #CCC;
   background-image: linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
   background-image: -o-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
   background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
   background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
   background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(225,225,225)), color-stop(0.71, rgb(245,245,245)));
   border: solid 1px #CCC;
   border-radius: 16px;
   clear: both;
   color: #666;
   cursor: pointer;
   display: inline-block;
   font: 700 1.0em/1.0em Helvetica, "Lucida Grande", Arial, sans-serif;
   margin: 0 0 15px 0;
   padding: 6px 10px 7px 10px;
   text-align: center;
   text-decoration: none;
}

.buttons:hover, a.buttons:hover, a.buttons:active {
   background: #666;
   background-image: linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
   background-image: -o-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
   background-image: -moz-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
   background-image: -webkit-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
   background-image: -ms-linear-gradient(bottom, rgb(215,215,215) 0%, rgb(235,235,235) 71%);
   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(215,215,215)), color-stop(0.71, rgb(235,235,235)));
   color: #333;
   text-decoration: underline;
}

.submit {
   margin: 15px 0 !important;
   padding-right: 12px !important;
}

table.stats {
   margin: 10px 0;
   width: 100%;
}

table.stats td {
   padding: 7px 5px;
}

p#footer {
   color: #999;
   font: normal 0.8em/1.0em Helvetica, "Lucida Grande", Arial, sans-serif;
   text-align: center;
}

   p#footer a, p#footer a:link, p#footer a:visited {
      color: #999;
      text-decoration: none;
   }
   
   p#footer a:hover, p#footer a:active {
      color: #333;
      text-decoration: underline;
   }